body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(16, 17, 78);
}

.container{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(67, 104, 182);
    font-size: 70px;
    
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur;
    z-index: 2;

}

.image img{
    width: 450px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%;
    
}